AUTH_SECRET=
AUTH_URL=https://meal-planner.usemillie.com
AUTH_TRUST_HOST=true
AUTH_ALLOWED_EMAILS=robin.baeteman@outlook.com,robin.baeteman@gmail.com

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

AUTH_MICROSOFT_ENTRA_ID_ID=
AUTH_MICROSOFT_ENTRA_ID_SECRET=
AUTH_MICROSOFT_ENTRA_ID_ISSUER=https://login.microsoftonline.com/9188040d-6c67-4c5b-b112-36a304b66dad/v2.0

DATABASE_URL=postgresql://mealplanner:mealplanner@localhost:54329/mealplanner?schema=public
E2E_AUTH_EMAIL=robin.baeteman@gmail.com

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_API_TOKEN=
